* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*ESTILOS DE INDEX*/
body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

header {
  background: none;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nombre {
  margin: 1rem 0rem;
  padding: 0rem;
  max-width: 300px;
}

.img_index {
  margin: 1rem 0rem;
  padding: 2rem 0rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between 50px;
}

.nav_item {
  margin: 0 0 0 1.5rem;
}

.nav_link {
  /*text-transform: uppercase;*/
  color: #372086;
  text-decoration: none;
}

.nav_link:hover {
  opacity: 0.65;
}

ul {
  list-style: none;
  font-size: 0;
  max-width: 1320px;
}

li {
  display: inline-block;
  margin: 0px 10px;
  position: relative;
  font-size: 14px;
}

ul ul {
  position: absolute;
  display: none;
}

ul li:hover ul {
  display: block;
}

ul ul li a {
  text-decoration: none;
  /*text-transform: uppercase;*/
}

.titulodelapagina {
  color: #372086;
  font-weight: 700;
  font-size: 2rem;
}

.bienvenidxs {
  color: #372086;
  font-weight: 500;
  margin-top: 0.5rem;
}

.parrafoPagina {
  color: #372086;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 1rem;
}

.redes {
  padding-top: 1rem;
  padding-left: 1rem;
}

.redes:hover {
  opacity: 50%;
  transition: all 0.3s ease;
}

.descripcion {
  font-size: 25px;
  font-weight: 400;
  color: #372086;
}

.logo:hover {
  opacity: 80%;
  transition: all 0.3s ease;
}

.trabajos {
  padding-bottom: 2rem;
}
.trabajo1 {
  display: flex;
  align-items: center;
}

.trabajo2 {
  display: flex;
  align-items: center;
}

.editorial {
  color: #372086;
  padding: 1rem;
}

.catedra {
  color: #372086;
  padding-left: 1rem;
}

/*ESTILOS DE FOOTER*/
.footer {
  padding-top: 1rem;
  /*background-color: #372086;*/
  background: linear-gradient(to bottom, #d8def7, #372086);
  width: 100%;
  padding: 3rem;
}

.footer_li {
  color: white;
  /*text-transform: uppercase;*/
  text-decoration: none;
}

/*ESTILOS DE PORTFOLIO*/
.titulodePortfolio {
  color: #372086;
  padding: 2rem 0rem 1rem 0rem;
}

table {
  border: 4px solid #372086;
  border-radius: 10px 10px 10px 10px;
}

.espaciodetabla,
table td {
  padding: 1rem;
}

.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  align-content: space-between;
}
.uno {
  grid-column: 1;
  grid-row: 1;
}
.dos {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.tres {
  grid-column: 1;
  grid-row: 2 / 5;
}
.cuatro {
  grid-column: 3;
  grid-row: 3;
}
.cinco {
  grid-column: 2;
  grid-row: 3/5;
}
.seis {
  grid-column: 3;
  grid-row: 4;
}

.item {
  background-color: #d8def7;
  border: 4px solid #372086;
  border-radius: 10px 10px 10px 10px;
}

/*ESTILOS DE PROYECTOS*/
.titulodeproyectos {
  color: #372086;
  padding: 2rem 0rem 1rem 0rem;
}

.descripcionVideo {
  color: #372086;
  font-weight: 300;
  padding: 20px 0px;
}

/*ESTILOS DE SOBRE MI*/
.titulodeSobremi {
  color: #372086;
}

.yo {
  margin: 2rem 0rem 2rem 0rem;
  padding: 1rem;
  background: linear-gradient(to top, #d8def7, #372086);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.seccion {
  display: flex;
  justify-content: flex-start;
}

.seccion div {
  width: 40%;
  margin: 50px;
}

/*ESTILOS DE FOTOGRAFÍA*/
.titulodeFotografia {
  color: #372086;
  padding: 1rem 1rem 0rem 0rem;
}

.tresfotos {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.fotos {
  /*  padding: 2rem; */
  padding: 1rem 1rem 0rem 0rem;
}

.fotos:hover {
  opacity: 80%;
  transition: all 0.3s ease;
}

/*ESTILOS DE CONTACTO*/
.titulodeContacto {
  color: #372086;
  padding: 2rem 0rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none;
  overflow: hidden;
}

.formulario div {
  margin: 8px 0px;
}

.enviarformulario {
  padding: 10px 50px;
  border: none;
  background: linear-gradient(to right #372086, #d8def7);
}

.reset {
  padding: 10px 50px;
  border: none;
  background: linear-gradient(to right #372086, #d8def7);
}

.genero {
  display: flex;
  flex-direction: row;
}

.radio {
  flex-direction: row;
}

/*ANIMACIONES*/

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.nombre {
  animation: from-right 1.5s ease;
}
