* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

/*ESTILOS DE INDEX*/
body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* HEADER */
header {
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
}

.nombre {
  margin: 0.5rem 0rem;
  padding: 0rem;
  max-width: 300px;
}

.bienvenidxs {
  color: #372086;
  font-weight: 500;
  margin-top: 0.5rem;
}

.parrafoPagina {
  color: #372086;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.redes:hover {
  opacity: 50%;
  transition: all 0.3s ease;
}

/* NAVBAR */
.navbar-brand img {
  height: 100px;
}

.nav-link {
  color: #372086 !important;
  text-decoration: none;
  font-weight: bold;
  padding-right: 2.5rem;
}

#navbarDropdown {
  font-size: medium;
}

.navbar-light .navbar-toggler {
  color: #372086 !important;
  border-color: #372086 !important;
}

.redes {
  padding-top: 0.3rem;
  padding-left: 2rem;
}

.navbar-collapse {
  justify-content: flex-end;
  text-align: right;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 2rem !important;
}

/*ESTILOS DE FOOTER*/
.footer {
  background: linear-gradient(to bottom, #c6b7f5, #372086);
  width: 100%;
  position: sticky;
  bottom: 0;
  height: 100px;
}

.footer_li {
  color: white;
  text-decoration: none;
  text-align: center;
}

/*ESTILOS DE PORTFOLIO*/
.titulodePortfolio {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

table {
  width: 100%;
}

.espaciodetabla,
table td {
  padding: 1rem;
  text-align: center;
  font-size: 18px;
}

.descripcionVideo {
  color: #372086;
  font-weight: 300;
  padding: 10px 0px;
  font-size: 18px;
}

/*ESTILOS DE REDES*/
.tituloderedes {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

/*ESTILOS DE SOBRE MI*/
.titulodeSobremi {
  color: #372086;
  font-size: 2em;
}

.yo {
  margin: 2rem 0rem 2rem 0rem;
  padding: 1rem;
  background: linear-gradient(to top, #c6b7f5, #372086);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.seccion {
  display: flex;
  justify-content: flex-start;
}

.seccion div {
  margin: 50px;
}

/*ESTILOS DE FOTOGRAFÍA*/
.titulodeFotografia {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

/*ESTILOS DE CONTACTO*/
.titulodeContacto {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

/* CONTACTO */
.btn {
  color: white !important;
  padding: 10px 50px;
  border: none;
  background: linear-gradient(to bottom, #372086, #c6b7f5);
  margin: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
}

.formulario div {
  margin: 8px 0px;
  width: 40%;
}

.form_input {
  display: flex;
  justify-content: space-between;
}
.form_input input,
#Talles,
#Mensaje {
  line-height: 25px;
  width: 80%;
}

.genero {
  display: flex;
  flex-direction: row;
}
.genero label {
  margin: 8px 0px;
}
.radio {
  margin: 8px 10px 8px 80px;
}

/*ANIMACIONES*/
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.nombre {
  animation: from-right 1.5s ease;
}
