/*ESTILOS DE CONTACTO*/
.titulodeContacto {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

.radio {
  margin: 8px 10px 8px 80px;
}

.btn-primary {
  border: none !important;
  color: white !important;
  background: linear-gradient(0.25turn, #e2d7fa, #372086) !important;
}
