/*ESTILOS DE ILUSTRACIONES*/

.titulodeilustracion {
  color: #372086;
  padding-bottom: 1rem;
  margin: 0%;
}

.rowilustraciones {
  display: flex;
  justify-content: center;
}

.img-responsive {
  padding-bottom: 2rem;
}
