/*ESTILOS DE PORTFOLIO*/
.titulodePortfolio {
  color: #372086;
  padding-bottom: 0.5rem;
}

.espaciodetabla,
table td {
  padding: 1rem;
  text-align: center;
  font-size: 18px;
}

.experiencia {
  padding-bottom: 2rem;
}

.img-responsive {
  padding: 1rem 0;
}

.embalaje {
  padding: 0 !important;
}
