/*ESTILOS DE PORTFOLIO*/
.titulodePortfolio {
  color: #372086;
  padding-bottom: 1rem;
  margin: 0;
}

.espaciodetabla,
table td {
  padding: 1rem;
  text-align: center;
  font-size: 18px;
}

.descripcion {
  color: #372086;
  padding: 1rem 1rem 1rem 0rem;
  margin: 0;
}

.embalaje {
  padding: 0 !important;
}
