/*ESTILOS DE PORTFOLIO*/
.titulodePortfolio {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

table {
  width: 100%;
}

.espaciodetabla,
table td {
  padding: 1rem;
  text-align: center;
  font-size: 18px;
}

.descripcionVideo {
  color: #372086;
  font-weight: 300;
  padding: 10px 0px;
  font-size: 18px;
}
