/*ESTILOS DE REDES*/
.tituloderedes {
  color: $miAzul;
  padding: 0rem 0rem 1rem 0rem;
}

.btn {
  height: 5rem;
  width: 100%;
  margin: 10px;
  background-color: #e2d7fa !important;
  .btn__text {
    line-height: 4rem;
    vertical-align: middle;
    padding: 1px;
    color: white;
  }
}

$redes: (/*Declaramos nuestro mapa*/ instagram: #e2d7fa);

@each $red, $color in $redes {
  .btn--#{$red} {
    background: linear-gradient(0.25turn, #e2d7fa, #372086);
  }
}
