/*ESTILOS DE SOBRE MI*/
.titulodeSobremi,
.parrafoodeSobremi {
  color: $miAzul;
  padding-left: 2rem;
}

.yo {
  margin: 0rem 2rem 2rem 0rem;
  padding: 1rem;
  background: linear-gradient(to top, $miLila, $miAzul);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.seccion {
  display: flex;
  justify-content: flex-start;
}
