@charset "UTF-8";
/* VARIABLES */
/*ESTILOS DE INDEX*/
body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-toggler {
  color: #372086 !important;
  border-color: #372086 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbarSupportedContent {
  color: black;
}

.bienvenidxs {
  color: #372086;
}

/*ESTILOS DE REDES*/
.tituloderedes {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

.container-boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  height: 5rem;
  width: 20rem;
  margin: 10px;
  background-color: #e2d7fa !important;
  border: none !important;
}

.btn .btn__text {
  line-height: 4rem;
  vertical-align: middle;
  padding: 1px;
  color: white;
}

.btn--instagram {
  background: -webkit-gradient(linear, left top, right top, from(#e2d7fa), to(#372086));
  background: linear-gradient(0.25turn, #e2d7fa, #372086);
}

/*ESTILOS DE CONTACTO*/
.titulodeContacto {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

.radio {
  margin: 8px 10px 8px 80px;
}

.btn-primary {
  border: none !important;
  color: white !important;
  background: -webkit-gradient(linear, left top, right top, from(#e2d7fa), to(#372086)) !important;
  background: linear-gradient(0.25turn, #e2d7fa, #372086) !important;
}

/*ESTILOS DE PORTFOLIO*/
.titulodePortfolio {
  color: #372086;
  padding-bottom: 1rem;
  margin: 0;
}

.espaciodetabla,
table td {
  padding: 1rem;
  text-align: center;
  font-size: 18px;
}

.descripcion {
  color: #372086;
  padding: 1rem 1rem 1rem 0rem;
  margin: 0;
}

.embalaje {
  padding: 0 !important;
}

/*ESTILOS DE FOTOGRAFÍA*/
.titulodeFotografia {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

.carousel {
  padding-bottom: 2rem;
}

.rowcarousel {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

/*ESTILOS DE SOBRE MI*/
.titulodeSobremi,
.parrafoodeSobremi {
  color: #372086;
  padding-left: 2rem;
}

.yo {
  margin: 0rem 2rem 2rem 0rem;
  padding: 1rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#e2d7fa), to(#372086));
  background: linear-gradient(to top, #e2d7fa, #372086);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*ESTILOS DE ILUSTRACIONES*/
.titulodeilustracion {
  color: #372086;
  padding-bottom: 1rem;
  margin: 0%;
}

.rowilustraciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-responsive {
  padding-bottom: 2rem;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

/* HEADER */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nombre {
  margin: 0.5rem 0rem;
  padding: 0rem;
  max-width: 300px;
}

.bienvenidxs {
  color: #372086;
  font-weight: 500;
  margin-top: 0.5rem;
}

.parrafoPagina {
  color: #372086;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.redes:hover {
  opacity: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* NAVBAR */
.navbar-brand img {
  height: 6rem;
}

.nav-link {
  color: #372086 !important;
  text-decoration: none;
  font-weight: bold;
  padding-right: 2.5rem;
}

#navbarDropdown {
  font-size: medium;
}

.redes {
  padding-top: 0.3rem;
  padding-left: 1rem;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1.5rem !important;
}

.nav-custom {
  background: white;
}

.navbar {
  padding: none !important;
}

/*ESTILOS DE FOOTER*/
.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#e2d7fa), to(#372086));
  background: linear-gradient(to bottom, #e2d7fa, #372086);
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 6rem;
  margin-top: 1rem !important;
}

.footer_li {
  color: white;
  text-decoration: none;
  text-align: center;
}

.footer-text {
  padding-top: 2rem;
}

.redes-footer {
  padding: 0.15rem 0;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

/*ANIMACIONES*/
@-webkit-keyframes from-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes from-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.nombre {
  -webkit-animation: from-right 1.5s ease;
          animation: from-right 1.5s ease;
}
/*# sourceMappingURL=style.css.map */