@charset "UTF-8";
/*ESTILOS DE INDEX*/
body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*ESTILOS DE REDES*/
.tituloderedes {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

.btn {
  height: 5rem;
  width: 100%;
  margin: 10px;
  background-color: #9a6bcf !important;
}

.btn .btn__text {
  line-height: 4rem;
  vertical-align: middle;
  padding: 1px;
  color: white;
}

.btn--instagram {
  background: -webkit-gradient(linear, left top, right top, from(#ce1965), to(#9a6bcf));
  background: linear-gradient(0.25turn, #ce1965, #9a6bcf);
}

.btn--behance {
  background: -webkit-gradient(linear, left top, right top, from(#173e92), to(#9a6bcf));
  background: linear-gradient(0.25turn, #173e92, #9a6bcf);
}

/*ESTILOS DE CONTACTO*/
.titulodeContacto {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

.btn-default {
  color: white !important;
  padding: 10px 50px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#372086), to(#c6b7f5));
  background: linear-gradient(to bottom, #372086, #c6b7f5);
  margin: 10px;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario div {
  margin: 8px 0px;
  width: 40%;
}

.form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form_input input {
  line-height: 25px;
  width: 80%;
}

#Talles,
#Mensaje {
  line-height: 25px;
  width: 80%;
}

.genero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.genero label {
  margin: 8px 0px;
}

.radio {
  margin: 8px 10px 8px 80px;
}

/*ESTILOS DE PORTFOLIO*/
.titulodePortfolio {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

table {
  width: 100%;
}

.espaciodetabla,
table td {
  padding: 1rem;
  text-align: center;
  font-size: 18px;
}

.descripcionVideo {
  color: #372086;
  font-weight: 300;
  padding: 10px 0px;
  font-size: 18px;
}

/*ESTILOS DE FOTOGRAFÍA*/
.titulodeFotografia {
  color: #372086;
  padding: 0rem 0rem 1rem 0rem;
}

/*ESTILOS DE SOBRE MI*/
.titulodeSobremi {
  color: #372086;
  font-size: 2em;
}

.yo {
  margin: 2rem 0rem 2rem 0rem;
  padding: 1rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#c6b7f5), to(#372086));
  background: linear-gradient(to top, #c6b7f5, #372086);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.seccion div {
  margin: 50px;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

/* HEADER */
header {
  padding: 0.5rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nombre {
  margin: 0.5rem 0rem;
  padding: 0rem;
  max-width: 300px;
}

.bienvenidxs {
  color: #372086;
  font-weight: 500;
  margin-top: 0.5rem;
}

.parrafoPagina {
  color: #372086;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.redes:hover {
  opacity: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* NAVBAR */
.navbar-brand img {
  height: 100px;
}

.nav-link {
  color: #372086 !important;
  text-decoration: none;
  font-weight: bold;
  padding-right: 2.5rem;
}

#navbarDropdown {
  font-size: medium;
}

.navbar-light .navbar-toggler {
  color: #372086 !important;
  border-color: #372086 !important;
}

.redes {
  padding-top: 0.3rem;
  padding-left: 2rem;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 2rem !important;
}

/*ESTILOS DE FOOTER*/
.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#c6b7f5), to(#372086));
  background: linear-gradient(to bottom, #c6b7f5, #372086);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 100px;
  margin-top: 20px;
}

.footer_li {
  color: white;
  text-decoration: none;
  text-align: center;
}

/*ANIMACIONES*/
@-webkit-keyframes from-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes from-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.nombre {
  -webkit-animation: from-right 1.5s ease;
          animation: from-right 1.5s ease;
}
/*# sourceMappingURL=style.css.map */